@charset "utf-8";
//底部导航
@mixin clearfix() {
  &:after {
    content: " "; 
    display: table; 
    clear: both;
    }
}
.footer-nav {
    margin-top: 45px;
    border-top: 2px solid #3ea600;
    .nav-con {
    border-left: 1px solid #ededed;
    @include clearfix();
   .section {
    float: left;
    width: 241px;
    height: 364px;
    border-right: 1px solid #ededed;
    border-bottom: 1px solid #ededed;
     h3 {
    height: 82px;
    font-weight: bold;
    padding: 0 18px;
    font-size: 16px;
    line-height: 82px;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
}
   .pic {
    text-align: center;
    img {
    width: 100px;
    height: 100px;
    margin: 0 auto;
}
}
}
.last {
    width: 240px;
}
 }
}

.footer-nav .section ul {
    height: 125px;
    margin-top: 25px;
    padding-left: 34px;
    overflow: hidden;
     @include clearfix();
     li {
    float: left;
    width: 95px;
    margin-right: 8px;
    height: 26px;
    line-height: 26px;
    overflow: hidden;
    a{text-decoration:underline;}
}
}