@charset "utf-8";
body {
    color: #606060;
    font: 12px/150% Arial, Tahoma,"宋体";
}
.footer {
    margin-top: 45px;
    padding-top: 45px;
    border-top: 2px solid #e7e7e7;
    background: #f7f7f7;
        .mode_wrap {
        float: left;
        margin-left: 70px;
        _margin-left: 0px;
        overflow: hidden;
    }
    .ervma {
        float: left;
        width: 284px;
    }
        .mode_wrap {
                .mode {
            position: relative;
            float: left;
            width: 144px;
            margin-right: 70px;
                    h3 {
            height: 26px;
            margin-bottom: 5px;
            line-height: 26px;
            font-size: 16px;
            color: #6f6f6f;
        }
                .cont {
            height: 130px;
            padding:0;
            margin:0;
        }
        }
    }
}
.width {
    width: 1210px;
    margin: 0 auto;
}

.clearfix:after {
    content: '\0020';
    display: block;
    height: 0;
    clear: both;
    font-size: 0;
    visibility: hidden;
}

ol, ul li {
    list-style: none outside none;
}



.footer .mode_wrap .mode .cont .cont_list {
    height: 24px;
    line-height: 24px;
    color: #9c9c9c;
    overflow: hidden;
    a {
    color: #989898;
}
}

.footer .ervma {
    dl {
    position: relative;
    margin-right: 45px;
    _margin-right: 10px;
    width: 86px;
    height: 122px;
    float:left;
}
    dt {
    position: absolute;
    top: 0;
    left: -22px;
    width: 130px;
    height: 18px;
    margin-bottom: 18px;
    font-size: 16px;
    color: #c60001;
    text-align: center;
    overflow: hidden;
 }
}

.footer .mode_wrap .mode:after {
    content: "";
    position: absolute;
    top: 12px;
    right: 0;
    display: block;
    width: 1px;
    height: 78px;
    background: #e9e9e9;
}

.footer .ervma {
    dd {
    position: relative;
    top: 36px;
    }
    img {
    width: 86px;
    height: 86px;
    }
}

.footer .about_wrap {
    padding: 25px 0 30px 0;
    margin-top: 45px;
    border-top: 2px solid #3ea600;
    background: #fff;
    .about {
    margin: 0 auto;
    }
}
.clear {
    clear: both;
    height: 0px;
    overflow: hidden;
    font-size: 0;
}

.footer .about_wrap .links, .footer .about_wrap .copyright div {
    height: 22px;
    line-height: 22px;
    color: #989898;
    overflow: hidden;
}
.footer .about_wrap .links a {
    font-size: 14px;
    color: #606060;
}
.footer .about_wrap .links {
    text-align: center;
}
.footer .about_wrap .about span {
    padding: 18px;
}
.footer .footer-2016 {
    width: 790px;
    margin: 28px auto 0;
    .pic {img {
    width: 200px;
    height: 50px;
    margin-right: 20px;
    }
    }
}

.f2{float:left;}

.footer .about_wrap .copyright div {
    height: 22px;
    line-height: 22px;
    color: #989898;
    overflow: hidden;
}
.beian {
    i {
    float: left;
    position: relative;
    width: 20px;
    height: 20px;
    background: url(http://static.womai.com/zhongliang/city/common/images/bottomicon.png) -114px -0px no-repeat;
    display:block;    
    font-size: 1px;
    }
    p {
    float: left;
    margin: 0px 0px 0px 5px;
    color: #989898;
}
}

.footer .Integrity {
    text-align: center;height:0;
    a {
    display: inline-block;
}
    .cert {
    width: 112px;
    height: 41px;
    background: url(http://static.womai.com/zhongliang/city/common/images/bottomicon.png) -0px -0px no-repeat;
}
}

a {
     text-decoration: none; 
}

i, s {
    display: block;
    position: absolute;
    background-repeat: no-repeat;
    font-size: 1px;
}