@charset "utf-8";
body {
    color: #606060;
    font: 12px/150% Arial, Tahoma,"宋体";
}
@mixin clearfix() {
  &:after {
    content: " "; 
    display: table; 
    clear: both;
    }
}
.add_t_wrap a{
    display: block;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    text-align: left;
    img{
    position: relative;
    display: block;
    left: 50%;
    margin-left: -950px;
    border: 0px;
    font-size:0;
}
}

.site_nav {
    z-index: 1000;
    height: 32px;
    background-color: #f5f5f5;
    .nav {
    margin: 0 auto;
    line-height: 32px;
    }
    .nav_l {
        float: left;
        zoom: 1;
        .site {
    position: relative;
    z-index: 100;
    padding-left: 15px;
    background: url(../images/index.png) no-repeat -101px 0;
    .welcome {
    margin-right: 10px;
}
    }
    li {
    float: left;
    margin-right: 20px;
}
}
    .nav_r{
        float: right;
       
    }
}

ol, ul li {
    list-style: none outside none;
}
html, body, div, span, iframe, h1, h2, h3, h4, h5, h6, p, pre, a, em, font, img, small, strong, b, u, i, s, dl, dt, dd, ol, ul, li, fieldset, form, label {
    padding: 0px;
    margin: 0px;
}
#top_login_span li {
    background-image: url(../images/20121219BN.png);
    background-repeat: no-repeat;
    background: none;
}

a {
    text-decoration: none;
}
a:visited {
    color: #606060;
}
a:link {
    color: #606060;
}
.site_nav .nav_l .site {
    .text {
    position: relative;
    z-index: 3;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    padding: 0 20px 0 14px;
    border: 1px solid #f5f5f5;
    cursor: pointer;
    }
    .arrow_down {
    display: inline-block;
    width: 6px;
    height: 3px;
    margin: 15px 0 0 5px;
    _margin-top: 5px;
    vertical-align: middle;
    background: url(../images/index.png) no-repeat -92px 0;
    overflow: hidden;
    }
}
.site_nav .nav_l .t_item{
    text-decoration: underline;
}
.site_nav .nav .nav_r{
    float: right;
    zoom: 1;
    .backexchange {
    overflow: hidden;
}
    .mycount {
    position: relative;
    z-index: 1000;
    height: 32px;
    padding: 0;
    }
    .cart a:before {
    content: '';
    display: block;
    float: left;
    width: 11px;
    height: 11px;
    margin: 10px 3px 0 0;
    background: url(http://static.womai.com/zhongliang/city/common/images/index.png) no-repeat -78px 0;
}
   li {
    float: left;
    padding: 0 10px 0 11px;
    .text {
    position: relative;
    z-index: 103;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    padding: 0 20px 0 14px;
    border: 1px solid #f5f5f5;
    cursor: pointer;
    float: left;
    i {
    display: inline-block;
    width: 6px;
    height: 3px;
    margin: 15px 0 0 5px;
    _margin-top: 5px;
    vertical-align: middle;
    background: url(http://static.womai.com/zhongliang/city/common/images/index.png) no-repeat -92px 0;
    overflow: hidden;
    padding:0px;
    top:0;
    right:0;
      }
    b {
    font-weight: normal;
    color: #3a9900;
}
    }
}
    .line {
    margin: 0 -10px;
    color: #e3dde3;
    }
    .mycount {
    position: relative;
    z-index: 1000;
    height: 32px;
    padding: 0;
   .mycount_cont {
    display: none;
    position: absolute;
    width: 184px;
    top: 30px;
    left: 0;
    border: 1px solid #3a9900;
    padding: 5px;
    background-color: #fff;
    z-index: 101;
    .nopay {
    position: relative;
    }
     li {
        float: left;
        width: 92px;
        padding: 0;
        a {
    position: relative;
    display: inline-block;
    height: 25px;
    padding: 0 7px;
    line-height: 25px;
    color: #6c6c6c;
}
    }
    }
    .width75 {
        width: 72px !important;
    }
    }
    .backexchange {
    overflow: hidden;
    
     .icbcexchange {
    background: url(http://static.womai.com/zhongliang/city/common/images/base.png) no-repeat 0 0;
    width: 43px;
    height: 15px;
    margin: 8px 0 0 12px;
    
    display: inline-block;
    float: left;
        
    }
    .zhongxinexchange {
    background: url(http://static.womai.com/zhongliang/city/common/images/base.png) no-repeat 0 -20px;
    width: 43px;
    height: 15px;
    margin: 8px 0 0 12px; 
    display: inline-block;
}
        }
}
//头部
.header {
    position: static;
    z-index: 100;
    top: -130px;
    width: 100%;
    font-family: "微软雅黑";
    margin: 35px auto 30px;
     @include clearfix();
    .width {
        width: 1210px;
        margin: 0 auto;
    
    .logo {
    width: 220px;
    height: 86px;
    float: left;
    }
    .fl {
    float: left;
    }
    .logo_adv{
        float:left;
    }
   .search_wrap {
    width: 625px;
    margin: 12px 0 0 48px;
    float: left;
    .search_c {
    float: left;
    width: 584px;
    height: 38px;
    border: 2px solid #c30000;
   .btn {
    width: 100px;
    height: 38px;
    _height: 40px;
}
.fr {
    float: right;
}
       .form {
    position: relative;
    float:left;
    display:block;
    input {
    width: 450px;
    height: 36px;
    padding-left: 32px;
    font: 14px/36px "微软雅黑";
    color: #bbb;
    border: none;
    outline:none;
    overflow:hidden;
    &:before {
    content: '';
    position: absolute;
    top: 11px;
    left: 10px;
    display: block;
    width: 16px;
    height: 16px;
    background: url(http://static.womai.com/zhongliang/city/common/images/index.png) no-repeat -69px -24px;
}
}
    .ac_results {
    position: absolute;
    z-index: 10000;
    display: none;
    padding: 0 10px 5px 5px;
    margin: 0;
    list-style: none;
    border: 1px solid #ccc;
    background-color: white;
}
    &:before {
    content: '';
    position: absolute;
    top: 11px;
    left: 10px;
    display: block;
    width: 16px;
    height: 16px;
    background: url(http://static.womai.com/zhongliang/city/common/images/index.png) no-repeat -69px -24px;
}
}
    .bttn {
        width: 100px;
        height: 38px;
        .bon{
        width: 100px;
        height: 38px;
        font: 18px "微软雅黑";
        color: #fff;
        background-color: #c30000;
        border: none;
        cursor: pointer;
    }
    }
    }
    .search_r {
    margin-top: 2px;
    float: right;
    line-height: 16px;
    color: #999;
    font-size: 14px !important;
    font-family: "微软雅黑";
}
 .search_b {
     a {
    margin-right: 18px;
    color: #757575;
    &:hover{
        color:green;
    text-decoration: underline;
    }
}
}
   }
    .app {
    float: right;
    width: 160px;
    height: 80px;
}
  }
}
img{
    border:0px;
}
.header .search_wrap .search_b {
    height: 18px;
    padding-top: 8px;
    clear: both;
    overflow: hidden;
}
.header .search_wrap .search_c .bttn {
    width: 100px;
    height: 38px;
    float:left;
}
.header .search_c .bttn .bon {
    width: 100px;
    height: 38px;
    font: 18px "微软雅黑";
    color: #fff;
    background-color: #c30000;
    border: none;
    cursor: pointer;
}
a:hover{
    color:green;
    text-decoration: underline;
}