@charset "utf-8";
@mixin clearfix() {
  &:after {
    content: " "; 
    display: table; 
    clear: both;
    }
}
.main_nav_wrap {
    position: relative;
    height: 46px;
    border-bottom: 2px solid #318700;
    z-index: 999;
    .main_nav {
    position: relative;
    margin: 0 auto;
         .all_kinds, .main_nav_wrap .nav, .main_nav_wrap .recharge {
    float: left;
        }
        .all_kinds {
            position: absolute;
            top: 2px;
            left: 0;
             .head {
                width: 210px;
                height: 46px;
                line-height: 46px;
                color: #fff;
                font-size: 16px;
                text-align: center;
                background-color: #2d8800;
            }
             .cont {
                position: relative;
                width: 210px;
                height: 410px;
                padding: 12px 0 28px 0;
                background-color: #3ea600;
                 .kinds {
                    float: left;
                    height: 39px;
                    width: 100%;
                     .title {
                        width: 172px;
                        height: 32px;
                        padding: 0 19px 0 19px;
                        line-height: 32px;
                        font-size: 14px;
                        overflow: hidden;
                         b {
                            display: block;
                            float: left;
                            width: 18px;
                            height: 18px;
                            margin: 6px 16px 0 0;
                            background-position: 0 0;
                        }
                       a {
                            font-weight: normal;
                            color: #fff;
                        }
                    }
                     .sub_kinds {
                            position: absolute;
                            top: 0px;
                            left: 209px;
                            z-index: 30;
                            display: none;
                            width: 757px;
                            height: 419px;
                            padding: 30px 15px 0 15px;
                            border-right: 1px solid #3a9900;
                            border-bottom: 1px solid #3a9900;
                            background-color: #fff;
                            overflow-y: auto;
                            
                           .kinds-box {
                                position: relative;
                                width: 757px;
                                height: 419px;
                                overflow: hidden;
                                .c_kinds {
                                        position: absolute;
                                        left: 0;
                                        top: 0;
                                        .sub_head {
                                                position: relative;
                                                float: left;
                                                width: 86px;
                                                height: 22px;
                                                font: bold 13px/22px "微软雅黑";
                                                color: #333;
                                                padding: 6px 20px 6px 0;
                                                text-align: right;
                                            }
                                            .sub_cont {
                                                    float: left;
                                                    width: 580px;
                                                    line-height: 30px;
                                                    overflow: hidden;
                                                    zoom: 1;
                                                    padding-top: 6px;
                                                    padding-bottom: 9px;
                                                    margin-bottom: 3px;
                                                    border-bottom: 1px solid #eaeaea;
                                                     .sub_kind {
                                                        float: left;
                                                        /* width: 100px; */
                                                        height: 16px;
                                                        margin: 5px 0;
                                                        line-height: 16px;
                                                        border-left: 1px solid #dedede;
                                                         a {
                                                                display: inline-block;
                                                                color: #757575;
                                                                padding: 0 8px;
                                                            }
                                                    }
                                                }


                                    }





                            }



                        }
                }
            }
        }
        .nav {
            width: 760px;
            height: 46px;
            padding-left: 219px;
            float: left;
             li {
                position: relative;
                float: left;
                white-space: nowrap;
                 a{
                    display: inline-block;
                    height: 38px;
                    margin: 5px 0 3px 0px;
                    padding: 0 11px;
                    font: 16px/38px "Microsoft YaHei";
                    text-align: center;
                    color: #383838;
                    &:hover{
                        color:green;
                        text-decoration: underline;
                    }
                }
                 .nav_cont {
                    display: none;
                    position: absolute;
                    top: 45px;
                    left: 0px;
                    border: 1px solid #e8e8e8;
                    background-color: #fff;
                    z-index: 999;
                }
            }
        }
         .min_cart {
            float: right;
            position: relative;
            right: 0;
            z-index: 100;
          .btn {
                display: inline;
                position: absolute;
                top: -3px;
                right: 0px;
                width: 180px;
                height: 18px;
                padding: 9px 10px 16px;
                margin: 5px 1px 1px;
                line-height: 22px;
                text-align: center;
                color: #098A00;
                cursor: pointer;
                 .text {
                    /* float: left; */
                    display: inline-block;
                    height: 20px;
                    line-height: 20px;
                    vertical-align: middle;
                    margin-left: 15px;
                    font-family: "微软雅黑";
                    font-size: 14px;
                    color: #383838;
                }
            }
             .cart_cont {
                display: none;
                position: absolute;
                top: 48px;
                right: 0px;
                z-index: 104;
                width: 343px;
                padding: 15px 0px 8px 15px;
                background-color: #fff;
                border: 1px solid #3a9901;
                overflow: hidden;
                 .last-viewed {
                    height: 15px;
                    line-height: 15px;
                    font-weight: normal;
                }
                 .account {
                    height: 32px;
                    line-height: 32px;
                    span {
                            display: inline-block;
                        }
                        .a-btn {
                        float: right;
                        width: 80px;
                        margin-right: 20px;
                        text-align: center;
                        background: #de0800;
                        color: #fff;
                        font-size: 14px;
                        font-family: "微软雅黑";
                        cursor: pointer;
                    }
                }
            }

        }
    }
}
 a:hover{
    color:green;
    text-decoration: underline;
}