@charset "utf-8";
@import "header";//不需要下划线和扩展名。
@import "main_nav_wrap";
@import "nav";
@import "banner";
@import "main_1";
@import "main_2";
@import "main_3";
@import "foot-nav";
@import "footer";
@import "right-nav";
body{
    background:#fff;
    color: #606060;
    font: 12px/150% Arial, Tahoma,"宋体";
}


@mixin clearfix() {
  &:after {
    content: " "; 
    display: table; 
    clear: both;
    }
}
.width {
    width: 1210px;
    margin: 0 auto;
}
ol, ul li {
    list-style: none outside none;
}
h2, h3 {
    font: bold 14px '微软雅黑';
}
a:hover{
    color:green;
    text-decoration: underline;
}



