@charset "UTF-8";
body {
  color: #606060;
  font: 12px/150% Arial, Tahoma,"宋体";
}

.add_t_wrap a {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  text-align: left;
}
.add_t_wrap a img {
  position: relative;
  display: block;
  left: 50%;
  margin-left: -950px;
  border: 0px;
  font-size: 0;
}

.site_nav {
  z-index: 1000;
  height: 32px;
  background-color: #f5f5f5;
}
.site_nav .nav {
  margin: 0 auto;
  line-height: 32px;
}
.site_nav .nav_l {
  float: left;
  zoom: 1;
}
.site_nav .nav_l .site {
  position: relative;
  z-index: 100;
  padding-left: 15px;
  background: url(../images/index.png) no-repeat -101px 0;
}
.site_nav .nav_l .site .welcome {
  margin-right: 10px;
}
.site_nav .nav_l li {
  float: left;
  margin-right: 20px;
}
.site_nav .nav_r {
  float: right;
}

ol, ul li {
  list-style: none outside none;
}

html, body, div, span, iframe, h1, h2, h3, h4, h5, h6, p, pre, a, em, font, img, small, strong, b, u, i, s, dl, dt, dd, ol, ul, li, fieldset, form, label {
  padding: 0px;
  margin: 0px;
}

#top_login_span li {
  background-image: url(../images/20121219BN.png);
  background-repeat: no-repeat;
  background: none;
}

a {
  text-decoration: none;
}

a:visited {
  color: #606060;
}

a:link {
  color: #606060;
}

.site_nav .nav_l .site .text {
  position: relative;
  z-index: 3;
  display: inline-block;
  height: 30px;
  line-height: 30px;
  padding: 0 20px 0 14px;
  border: 1px solid #f5f5f5;
  cursor: pointer;
}
.site_nav .nav_l .site .arrow_down {
  display: inline-block;
  width: 6px;
  height: 3px;
  margin: 15px 0 0 5px;
  _margin-top: 5px;
  vertical-align: middle;
  background: url(../images/index.png) no-repeat -92px 0;
  overflow: hidden;
}

.site_nav .nav_l .t_item {
  text-decoration: underline;
}

.site_nav .nav .nav_r {
  float: right;
  zoom: 1;
}
.site_nav .nav .nav_r .backexchange {
  overflow: hidden;
}
.site_nav .nav .nav_r .mycount {
  position: relative;
  z-index: 1000;
  height: 32px;
  padding: 0;
}
.site_nav .nav .nav_r .cart a:before {
  content: '';
  display: block;
  float: left;
  width: 11px;
  height: 11px;
  margin: 10px 3px 0 0;
  background: url(http://static.womai.com/zhongliang/city/common/images/index.png) no-repeat -78px 0;
}
.site_nav .nav .nav_r li {
  float: left;
  padding: 0 10px 0 11px;
}
.site_nav .nav .nav_r li .text {
  position: relative;
  z-index: 103;
  display: inline-block;
  height: 30px;
  line-height: 30px;
  padding: 0 20px 0 14px;
  border: 1px solid #f5f5f5;
  cursor: pointer;
  float: left;
}
.site_nav .nav .nav_r li .text i {
  display: inline-block;
  width: 6px;
  height: 3px;
  margin: 15px 0 0 5px;
  _margin-top: 5px;
  vertical-align: middle;
  background: url(http://static.womai.com/zhongliang/city/common/images/index.png) no-repeat -92px 0;
  overflow: hidden;
  padding: 0px;
  top: 0;
  right: 0;
}
.site_nav .nav .nav_r li .text b {
  font-weight: normal;
  color: #3a9900;
}
.site_nav .nav .nav_r .line {
  margin: 0 -10px;
  color: #e3dde3;
}
.site_nav .nav .nav_r .mycount {
  position: relative;
  z-index: 1000;
  height: 32px;
  padding: 0;
}
.site_nav .nav .nav_r .mycount .mycount_cont {
  display: none;
  position: absolute;
  width: 184px;
  top: 30px;
  left: 0;
  border: 1px solid #3a9900;
  padding: 5px;
  background-color: #fff;
  z-index: 101;
}
.site_nav .nav .nav_r .mycount .mycount_cont .nopay {
  position: relative;
}
.site_nav .nav .nav_r .mycount .mycount_cont li {
  float: left;
  width: 92px;
  padding: 0;
}
.site_nav .nav .nav_r .mycount .mycount_cont li a {
  position: relative;
  display: inline-block;
  height: 25px;
  padding: 0 7px;
  line-height: 25px;
  color: #6c6c6c;
}
.site_nav .nav .nav_r .mycount .width75 {
  width: 72px !important;
}
.site_nav .nav .nav_r .backexchange {
  overflow: hidden;
}
.site_nav .nav .nav_r .backexchange .icbcexchange {
  background: url(http://static.womai.com/zhongliang/city/common/images/base.png) no-repeat 0 0;
  width: 43px;
  height: 15px;
  margin: 8px 0 0 12px;
  display: inline-block;
  float: left;
}
.site_nav .nav .nav_r .backexchange .zhongxinexchange {
  background: url(http://static.womai.com/zhongliang/city/common/images/base.png) no-repeat 0 -20px;
  width: 43px;
  height: 15px;
  margin: 8px 0 0 12px;
  display: inline-block;
}

.header {
  position: static;
  z-index: 100;
  top: -130px;
  width: 100%;
  font-family: "微软雅黑";
  margin: 35px auto 30px;
}
.header:after {
  content: " ";
  display: table;
  clear: both;
}
.header .width {
  width: 1210px;
  margin: 0 auto;
}
.header .width .logo {
  width: 220px;
  height: 86px;
  float: left;
}
.header .width .fl {
  float: left;
}
.header .width .logo_adv {
  float: left;
}
.header .width .search_wrap {
  width: 625px;
  margin: 12px 0 0 48px;
  float: left;
}
.header .width .search_wrap .search_c {
  float: left;
  width: 584px;
  height: 38px;
  border: 2px solid #c30000;
}
.header .width .search_wrap .search_c .btn {
  width: 100px;
  height: 38px;
  _height: 40px;
}
.header .width .search_wrap .search_c .fr {
  float: right;
}
.header .width .search_wrap .search_c .form {
  position: relative;
  float: left;
  display: block;
}
.header .width .search_wrap .search_c .form input {
  width: 450px;
  height: 36px;
  padding-left: 32px;
  font: 14px/36px "微软雅黑";
  color: #bbb;
  border: none;
  outline: none;
  overflow: hidden;
}
.header .width .search_wrap .search_c .form input:before {
  content: '';
  position: absolute;
  top: 11px;
  left: 10px;
  display: block;
  width: 16px;
  height: 16px;
  background: url(http://static.womai.com/zhongliang/city/common/images/index.png) no-repeat -69px -24px;
}
.header .width .search_wrap .search_c .form .ac_results {
  position: absolute;
  z-index: 10000;
  display: none;
  padding: 0 10px 5px 5px;
  margin: 0;
  list-style: none;
  border: 1px solid #ccc;
  background-color: white;
}
.header .width .search_wrap .search_c .form:before {
  content: '';
  position: absolute;
  top: 11px;
  left: 10px;
  display: block;
  width: 16px;
  height: 16px;
  background: url(http://static.womai.com/zhongliang/city/common/images/index.png) no-repeat -69px -24px;
}
.header .width .search_wrap .search_c .bttn {
  width: 100px;
  height: 38px;
}
.header .width .search_wrap .search_c .bttn .bon {
  width: 100px;
  height: 38px;
  font: 18px "微软雅黑";
  color: #fff;
  background-color: #c30000;
  border: none;
  cursor: pointer;
}
.header .width .search_wrap .search_r {
  margin-top: 2px;
  float: right;
  line-height: 16px;
  color: #999;
  font-size: 14px !important;
  font-family: "微软雅黑";
}
.header .width .search_wrap .search_b a {
  margin-right: 18px;
  color: #757575;
}
.header .width .search_wrap .search_b a:hover {
  color: green;
  text-decoration: underline;
}
.header .width .app {
  float: right;
  width: 160px;
  height: 80px;
}

img {
  border: 0px;
}

.header .search_wrap .search_b {
  height: 18px;
  padding-top: 8px;
  clear: both;
  overflow: hidden;
}

.header .search_wrap .search_c .bttn {
  width: 100px;
  height: 38px;
  float: left;
}

.header .search_c .bttn .bon {
  width: 100px;
  height: 38px;
  font: 18px "微软雅黑";
  color: #fff;
  background-color: #c30000;
  border: none;
  cursor: pointer;
}

a:hover {
  color: green;
  text-decoration: underline;
}

.main_nav_wrap {
  position: relative;
  height: 46px;
  border-bottom: 2px solid #318700;
  z-index: 999;
}
.main_nav_wrap .main_nav {
  position: relative;
  margin: 0 auto;
}
.main_nav_wrap .main_nav .all_kinds, .main_nav_wrap .main_nav .main_nav_wrap .nav, .main_nav_wrap .main_nav .main_nav_wrap .recharge {
  float: left;
}
.main_nav_wrap .main_nav .all_kinds {
  position: absolute;
  top: 2px;
  left: 0;
}
.main_nav_wrap .main_nav .all_kinds .head {
  width: 210px;
  height: 46px;
  line-height: 46px;
  color: #fff;
  font-size: 16px;
  text-align: center;
  background-color: #2d8800;
}
.main_nav_wrap .main_nav .all_kinds .cont {
  position: relative;
  width: 210px;
  height: 410px;
  padding: 12px 0 28px 0;
  background-color: #3ea600;
}
.main_nav_wrap .main_nav .all_kinds .cont .kinds {
  float: left;
  height: 39px;
  width: 100%;
}
.main_nav_wrap .main_nav .all_kinds .cont .kinds .title {
  width: 172px;
  height: 32px;
  padding: 0 19px 0 19px;
  line-height: 32px;
  font-size: 14px;
  overflow: hidden;
}
.main_nav_wrap .main_nav .all_kinds .cont .kinds .title b {
  display: block;
  float: left;
  width: 18px;
  height: 18px;
  margin: 6px 16px 0 0;
  background-position: 0 0;
}
.main_nav_wrap .main_nav .all_kinds .cont .kinds .title a {
  font-weight: normal;
  color: #fff;
}
.main_nav_wrap .main_nav .all_kinds .cont .kinds .sub_kinds {
  position: absolute;
  top: 0px;
  left: 209px;
  z-index: 30;
  display: none;
  width: 757px;
  height: 419px;
  padding: 30px 15px 0 15px;
  border-right: 1px solid #3a9900;
  border-bottom: 1px solid #3a9900;
  background-color: #fff;
  overflow-y: auto;
}
.main_nav_wrap .main_nav .all_kinds .cont .kinds .sub_kinds .kinds-box {
  position: relative;
  width: 757px;
  height: 419px;
  overflow: hidden;
}
.main_nav_wrap .main_nav .all_kinds .cont .kinds .sub_kinds .kinds-box .c_kinds {
  position: absolute;
  left: 0;
  top: 0;
}
.main_nav_wrap .main_nav .all_kinds .cont .kinds .sub_kinds .kinds-box .c_kinds .sub_head {
  position: relative;
  float: left;
  width: 86px;
  height: 22px;
  font: bold 13px/22px "微软雅黑";
  color: #333;
  padding: 6px 20px 6px 0;
  text-align: right;
}
.main_nav_wrap .main_nav .all_kinds .cont .kinds .sub_kinds .kinds-box .c_kinds .sub_cont {
  float: left;
  width: 580px;
  line-height: 30px;
  overflow: hidden;
  zoom: 1;
  padding-top: 6px;
  padding-bottom: 9px;
  margin-bottom: 3px;
  border-bottom: 1px solid #eaeaea;
}
.main_nav_wrap .main_nav .all_kinds .cont .kinds .sub_kinds .kinds-box .c_kinds .sub_cont .sub_kind {
  float: left;
  /* width: 100px; */
  height: 16px;
  margin: 5px 0;
  line-height: 16px;
  border-left: 1px solid #dedede;
}
.main_nav_wrap .main_nav .all_kinds .cont .kinds .sub_kinds .kinds-box .c_kinds .sub_cont .sub_kind a {
  display: inline-block;
  color: #757575;
  padding: 0 8px;
}
.main_nav_wrap .main_nav .nav {
  width: 760px;
  height: 46px;
  padding-left: 219px;
  float: left;
}
.main_nav_wrap .main_nav .nav li {
  position: relative;
  float: left;
  white-space: nowrap;
}
.main_nav_wrap .main_nav .nav li a {
  display: inline-block;
  height: 38px;
  margin: 5px 0 3px 0px;
  padding: 0 11px;
  font: 16px/38px "Microsoft YaHei";
  text-align: center;
  color: #383838;
}
.main_nav_wrap .main_nav .nav li a:hover {
  color: green;
  text-decoration: underline;
}
.main_nav_wrap .main_nav .nav li .nav_cont {
  display: none;
  position: absolute;
  top: 45px;
  left: 0px;
  border: 1px solid #e8e8e8;
  background-color: #fff;
  z-index: 999;
}
.main_nav_wrap .main_nav .min_cart {
  float: right;
  position: relative;
  right: 0;
  z-index: 100;
}
.main_nav_wrap .main_nav .min_cart .btn {
  display: inline;
  position: absolute;
  top: -3px;
  right: 0px;
  width: 180px;
  height: 18px;
  padding: 9px 10px 16px;
  margin: 5px 1px 1px;
  line-height: 22px;
  text-align: center;
  color: #098A00;
  cursor: pointer;
}
.main_nav_wrap .main_nav .min_cart .btn .text {
  /* float: left; */
  display: inline-block;
  height: 20px;
  line-height: 20px;
  vertical-align: middle;
  margin-left: 15px;
  font-family: "微软雅黑";
  font-size: 14px;
  color: #383838;
}
.main_nav_wrap .main_nav .min_cart .cart_cont {
  display: none;
  position: absolute;
  top: 48px;
  right: 0px;
  z-index: 104;
  width: 343px;
  padding: 15px 0px 8px 15px;
  background-color: #fff;
  border: 1px solid #3a9901;
  overflow: hidden;
}
.main_nav_wrap .main_nav .min_cart .cart_cont .last-viewed {
  height: 15px;
  line-height: 15px;
  font-weight: normal;
}
.main_nav_wrap .main_nav .min_cart .cart_cont .account {
  height: 32px;
  line-height: 32px;
}
.main_nav_wrap .main_nav .min_cart .cart_cont .account span {
  display: inline-block;
}
.main_nav_wrap .main_nav .min_cart .cart_cont .account .a-btn {
  float: right;
  width: 80px;
  margin-right: 20px;
  text-align: center;
  background: #de0800;
  color: #fff;
  font-size: 14px;
  font-family: "微软雅黑";
  cursor: pointer;
}

a:hover {
  color: green;
  text-decoration: underline;
}

.banner {
  width: 100%;
  overflow: hidden;
}
.banner .banner-con {
  position: relative;
  left: 0;
  width: 100%;
  height: 450px;
  margin: 0 auto;
  overflow: hidden;
}
.banner .banner-con .slider-btn {
  position: absolute;
  z-index: 5;
  top: 50%;
  left: 50%;
  width: 800px;
  height: 62px;
  margin-top: -31px;
  margin-left: -395px;
  pointer-events: none;
}
.banner .banner-con .slider-btn a {
  display: block;
  width: 28px;
  height: 62px;
  font: 400 22px/62px simsun;
  color: #fff;
  text-align: center;
  background: url(http://static.womai.com/zhongliang/city/index/images/btn.png) no-repeat;
  text-decoration: none;
  pointer-events: auto;
}
.banner .banner-con .slider-btn .fl {
  float: left;
}
.banner .banner-con .slider-btn .fr {
  float: right;
}
.banner .banner-con ul {
  position: absolute;
  top: 0;
  width: 100%;
}
.banner .banner-con ul li {
  float: left;
  width: 100%;
  height: 450px;
  text-align: center;
  background: url(http://pic.womai.com/pic/sale/2018/selfimages/0831/selfrollbk-0831.png) center top no-repeat #f7dfc3;
  display: none;
}
.banner .banner-con ul li a {
  display: block;
  width: 800px;
  height: 450px;
  text-align: center;
  padding-left: 10px;
  margin: 0 auto;
}
.banner .banner-con ul li a img {
  width: 800px;
  height: 450px;
  margin: 0 auto;
}
.banner .banner-con .slider-num {
  position: absolute;
  bottom: 20px;
  left: 50%;
  z-index: 2;
  height: 21px;
  text-align: center;
  width: 279px;
  margin-left: -139.5px;
  overflow: hidden;
}

.footer-nav {
  margin-top: 45px;
  border-top: 2px solid #3ea600;
}
.footer-nav .nav-con {
  border-left: 1px solid #ededed;
}
.footer-nav .nav-con:after {
  content: " ";
  display: table;
  clear: both;
}
.footer-nav .nav-con .section {
  float: left;
  width: 241px;
  height: 364px;
  border-right: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
}
.footer-nav .nav-con .section h3 {
  height: 82px;
  font-weight: bold;
  padding: 0 18px;
  font-size: 16px;
  line-height: 82px;
  text-align: center;
  cursor: pointer;
  overflow: hidden;
}
.footer-nav .nav-con .section .pic {
  text-align: center;
}
.footer-nav .nav-con .section .pic img {
  width: 100px;
  height: 100px;
  margin: 0 auto;
}
.footer-nav .nav-con .last {
  width: 240px;
}

.footer-nav .section ul {
  height: 125px;
  margin-top: 25px;
  padding-left: 34px;
  overflow: hidden;
}
.footer-nav .section ul:after {
  content: " ";
  display: table;
  clear: both;
}
.footer-nav .section ul li {
  float: left;
  width: 95px;
  margin-right: 8px;
  height: 26px;
  line-height: 26px;
  overflow: hidden;
}
.footer-nav .section ul li a {
  text-decoration: underline;
}

body {
  color: #606060;
  font: 12px/150% Arial, Tahoma,"宋体";
}

.footer {
  margin-top: 45px;
  padding-top: 45px;
  border-top: 2px solid #e7e7e7;
  background: #f7f7f7;
}
.footer .mode_wrap {
  float: left;
  margin-left: 70px;
  _margin-left: 0px;
  overflow: hidden;
}
.footer .ervma {
  float: left;
  width: 284px;
}
.footer .mode_wrap .mode {
  position: relative;
  float: left;
  width: 144px;
  margin-right: 70px;
}
.footer .mode_wrap .mode h3 {
  height: 26px;
  margin-bottom: 5px;
  line-height: 26px;
  font-size: 16px;
  color: #6f6f6f;
}
.footer .mode_wrap .mode .cont {
  height: 130px;
  padding: 0;
  margin: 0;
}

.width {
  width: 1210px;
  margin: 0 auto;
}

.clearfix:after {
  content: '\0020';
  display: block;
  height: 0;
  clear: both;
  font-size: 0;
  visibility: hidden;
}

ol, ul li {
  list-style: none outside none;
}

.footer .mode_wrap .mode .cont .cont_list {
  height: 24px;
  line-height: 24px;
  color: #9c9c9c;
  overflow: hidden;
}
.footer .mode_wrap .mode .cont .cont_list a {
  color: #989898;
}

.footer .ervma dl {
  position: relative;
  margin-right: 45px;
  _margin-right: 10px;
  width: 86px;
  height: 122px;
  float: left;
}
.footer .ervma dt {
  position: absolute;
  top: 0;
  left: -22px;
  width: 130px;
  height: 18px;
  margin-bottom: 18px;
  font-size: 16px;
  color: #c60001;
  text-align: center;
  overflow: hidden;
}

.footer .mode_wrap .mode:after {
  content: "";
  position: absolute;
  top: 12px;
  right: 0;
  display: block;
  width: 1px;
  height: 78px;
  background: #e9e9e9;
}

.footer .ervma dd {
  position: relative;
  top: 36px;
}
.footer .ervma img {
  width: 86px;
  height: 86px;
}

.footer .about_wrap {
  padding: 25px 0 30px 0;
  margin-top: 45px;
  border-top: 2px solid #3ea600;
  background: #fff;
}
.footer .about_wrap .about {
  margin: 0 auto;
}

.clear {
  clear: both;
  height: 0px;
  overflow: hidden;
  font-size: 0;
}

.footer .about_wrap .links, .footer .about_wrap .copyright div {
  height: 22px;
  line-height: 22px;
  color: #989898;
  overflow: hidden;
}

.footer .about_wrap .links a {
  font-size: 14px;
  color: #606060;
}

.footer .about_wrap .links {
  text-align: center;
}

.footer .about_wrap .about span {
  padding: 18px;
}

.footer .footer-2016 {
  width: 790px;
  margin: 28px auto 0;
}
.footer .footer-2016 .pic img {
  width: 200px;
  height: 50px;
  margin-right: 20px;
}

.f2 {
  float: left;
}

.footer .about_wrap .copyright div {
  height: 22px;
  line-height: 22px;
  color: #989898;
  overflow: hidden;
}

.beian i {
  float: left;
  position: relative;
  width: 20px;
  height: 20px;
  background: url(http://static.womai.com/zhongliang/city/common/images/bottomicon.png) -114px 0px no-repeat;
  display: block;
  font-size: 1px;
}
.beian p {
  float: left;
  margin: 0px 0px 0px 5px;
  color: #989898;
}

.footer .Integrity {
  text-align: center;
  height: 0;
}
.footer .Integrity a {
  display: inline-block;
}
.footer .Integrity .cert {
  width: 112px;
  height: 41px;
  background: url(http://static.womai.com/zhongliang/city/common/images/bottomicon.png) 0px 0px no-repeat;
}

a {
  text-decoration: none;
}

i, s {
  display: block;
  position: absolute;
  background-repeat: no-repeat;
  font-size: 1px;
}

.wm-toolbar {
  position: fixed;
  top: 0;
  z-index: 9999999;
  right: -273px;
  width: 310px;
  color: #fff;
}
.wm-toolbar .toolbar-left {
  position: relative;
  left: 0;
  float: left;
  width: 34px;
  background: #000;
  height: 618px;
}
.wm-toolbar .toolbar-left .wm-toolbar-top {
  position: absolute;
  left: 0;
  width: 34px;
  height: 216px;
  font: 12px/1.2 "Microsoft YaHei";
  top: 154.5px;
}
.wm-toolbar .toolbar-left .wm-toolbar-top .wm-select {
  background: #3da700;
  width: 18px;
  height: 88px;
  padding: 10px 8px;
  text-align: center;
  overflow: hidden;
  cursor: pointer;
}
.wm-toolbar .toolbar-left .wm-toolbar-top .wm-select em {
  background-position: -178px -42px;
}
.wm-toolbar .toolbar-left .wm-toolbar-top .wm-select span {
  background: #000;
  display: inline-block;
  height: 16px;
  margin: 8px auto 0;
  padding: 0 3px;
  line-height: 16px;
  border-radius: 3px;
  background: #3da700;
  color: #fff;
}
.wm-toolbar .toolbar-left .wm-toolbar-footer {
  position: absolute;
  left: 0;
  bottom: 0;
}
.wm-toolbar .toolbar-left .wm-toolbar-footer li {
  position: relative;
  height: 34px;
  width: 34px;
  margin-top: 6px;
  line-height: 34px;
  cursor: pointer;
}
.wm-toolbar .toolbar-left .wm-toolbar-footer li span {
  position: absolute;
  right: 34px;
  height: 34px;
  width: 58px;
  padding-left: 12px;
  line-height: 34px;
  background: #3da700;
  display: none;
  overflow: hidden;
}
.wm-toolbar .toolbar-left .wm-toolbar-footer li em {
  display: inline-block;
  background: url(http://static.womai.com/zhongliang/city/index/images/cart.jpg) no-repeat;
  height: 34px;
  width: 34px;
  cursor: pointer;
  overflow: hidden;
  font-style: normal;
}
.wm-toolbar .toolbar-left .wm-toolbar-footer li em.collect {
  background-position: 0 0;
}
.wm-toolbar .toolbar-left .wm-toolbar-footer li em.accoun {
  background-position: -34px 0;
}
.wm-toolbar .toolbar-left .wm-toolbar-footer li em.recharge {
  background-position: -68px 0;
}
.wm-toolbar .toolbar-left .wm-toolbar-footer li em.qr {
  background-position: -102px 0;
}
.wm-toolbar .toolbar-left .wm-toolbar-footer li em.go-top {
  background-position: -136px 0;
}
.wm-toolbar .toolbar-left .wm-toolbar-footer li a {
  color: #fff !important;
}
.wm-toolbar .toolbar-left .wm-toolbar-footer li img {
  width: 100px;
  height: 100px;
}
.wm-toolbar .pop-up {
  position: absolute;
  left: 34px;
  width: 276px;
  height: 100%;
  background: #e6e6e6;
  overflow: hidden;
}
.wm-toolbar .pop-up .pop-layer {
  position: absolute;
  right: -276px;
  width: 276px;
  height: 100%;
}
.wm-toolbar .pop-up .pop-layer .pop-title {
  position: relative;
  height: 40px;
  font: 18px/40px "Microsoft YaHei";
  color: #383838;
  text-align: center;
}
.wm-toolbar .pop-up .pop-layer .pop-title .wm-c-box {
  padding: 0 0 16px 0;
  overflow-y: scroll;
}
.wm-toolbar .pop-up .pop-layer .pop-title em {
  position: absolute;
  top: 14px;
  right: 18px;
  width: 12px;
  height: 12px;
  background: url(http://static.womai.com/zhongliang/city/index/images/cart.jpg) no-repeat -238px 0;
  overflow: hidden;
  cursor: pointer;
}
.wm-toolbar .pop-up .pop-layer .scroll-box {
  overflow-y: auto;
  height: 506px;
}
.wm-toolbar .pop-up .pop-layer .scroll-box .nothing {
  position: absolute;
  top: 50%;
  left: 0;
  width: 240px;
  height: 95px;
  margin-top: -48px;
  padding: 0 18px;
}
.wm-toolbar .pop-up .pop-layer .scroll-box .nothing dl {
  margin: 0;
  overflow: hidden;
}
.wm-toolbar .pop-up .pop-layer .scroll-box .nothing dl dt {
  width: 100%;
  height: 46px;
  margin: 0 0 8px 0;
  text-align: center;
  border: 0;
  float: left;
}
.wm-toolbar .pop-up .pop-layer .scroll-box .nothing dl dd {
  width: 100%;
  color: #4f4f4f;
}
.wm-toolbar .pop-up .pop-layer .scroll-box .nothing dl dd p {
  line-height: 20px;
  text-align: center;
  color: #474747;
}
.wm-toolbar .pop-up .pop-layer .scroll-box .nothing dl dd p a {
  color: #c40000;
}

body {
  background: #fff;
  color: #606060;
  font: 12px/150% Arial, Tahoma,"宋体";
}

.width {
  width: 1210px;
  margin: 0 auto;
}

ol, ul li {
  list-style: none outside none;
}

h2, h3 {
  font: bold 14px '微软雅黑';
}

a:hover {
  color: green;
  text-decoration: underline;
}

/*# sourceMappingURL=index.css.map */
